<div class="artist">
    <div class="artist-card">
        <h1>{{artist_name}}</h1>
        <a href="{{artist_webpage}}" target="_blank">{{artist_webpage}}</a>
    </div>
    {{!-- <div>
        {{bpm}} BPM
        <br>
        {{key}}
        <br>
        Uploaded by {{user.username}} on {{created_at}}
    </div> --}}
</div>