<div class="song">
    <div class="artist-title">
        <h4>"{{title}}"</h4>
        <a href="{{artist.artist_webpage}}" target="_blank">{{artist.artist_name}}</a>
    </div>
    <div>
        {{bpm}} BPM
        <br>
        {{key}}
        <br>
        Uploaded by {{user.username}} on {{created_at}}
    </div>
</div>