<div class="song">
    <div class="artist-title">
        <h1>{{title}}</h1>
        <a href="{{artist.artist_webpage}}" target="_blank">{{artist.artist_name}}</h2>
    </div>
    <div>
        {{bpm}}
        {{key}}
        Uploaded by {{user.username}} on {{created_at}}
    </div>
</div>