<div class="song">
    <div class="artist-title">
        <h1>{{title}}</h1>
        <a href="/tracks/artists/{{artist.id}}" target="_self">{{artist.artist_name}}</a>
    </div>
    <div>
        {{bpm}} BPM
        <br>
        {{key}}
        <br>
        Uploaded by {{user.username}} on {{created_at}}
    </div>
</div>