<div class="song">
    <div class="artist-title">
        <h1>{{title}}</h1>
        <a href="{{artist_webpage}}" target="_blank">{{artist_name}}</a>
    </div>
    <div>
        {{bpm}} BPM
        <br>
        {{key}}
        <br>
        Uploaded by {{user.username}} on {{created_at}}
    </div>
</div>